<div>
        <div>My Menu</div>
        <div>Splitter</div>
        <div>Videos</div>
        <button (click)="setVideo()">
                setVideo
        </button>&nbsp;
        <button (click)="stopPlay()">
                stopPlay
        </button>
        &nbsp;
        <button (click)="startPlay()">
                Play
        </button>
    
        <table>
            <tr>
                <td  style="vertical-align: top"><app-custom-img (myOncanplaythrough)="mediaLoaded($event)" #img1 ></app-custom-img></td>
                <td  style="vertical-align: top"><app-custom-video (myOncanplaythrough)="mediaLoaded($event)" #video1 ></app-custom-video></td>
                <td  style="vertical-align: top"><app-custom-video (myOncanplaythrough)="mediaLoaded($event)" #video2 ></app-custom-video></td>
            </tr>
    
        </table>
    </div>
