.slider-wrapper {
    display: inline-block;
    width: 20px;
    height:400px;
    padding: 0;
    visibility: hidden;
  }
  .slider-wrapper input {
    width: 100px;
    height: 20px;
    margin: 0;
    transform-origin: 200.5px 200.5px;
    transform: rotate(-90deg);
  }
  .inlinediv{
    float:left;
  }